.container {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  background: #e27979;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

form {
  display: grid;
  gap: 1rem;
}
.txtLabel {
 width: 96%;
}
label {
  font-weight: bold;
}

.forgot-password {
  display: block;
  text-align: left;
  margin-top: 0.5rem;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}
