.container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

form {
  display: grid;
  gap: 1rem;
}

.txtLabel {
  width: 96%;
 }

label {
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.login {
  display: block;
  text-align: left;
  margin-top: 0.5rem;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.login:hover {
  text-decoration: underline;
}
