/* SideNavBar.css */
.sidenav {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: white;
}

.sidenav-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Style for sidebar menu items */
.sidenav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidenav-item {
  margin-bottom: 10px;
}

.sidenav-button {
  background: none;
  border: none;
  color: #333;
  font-size: 1rem;
  text-align: left;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.sidenav-button:hover {
  background-color: #ddd; /* Change background on hover */
}

.dashboard-container {
  display: flex;
}

.dashboard-content {
  margin-left: 300px;
  padding: 20px;
  width: 100%;
}


